.tabs .tab a{
  color: white !important;
}
.small-container {
  margin: 10px 25px !important;
}
blockquote{

  border-left: 5px solid #F44336 !important;
}
.promo i {
  margin: 40px 0;
  color: #ee6e73;
  font-size: 7rem;
  display: block;
}